### Yearly nyc_taxi EDA

In [ ]:

import pandas as pd

In [ ]:
# read and combine the data
df10 = pd.read_parquet('../parquet/taxi_data_october.parquet')
df11 = pd.read_parquet('../parquet/taxi_data_november.parquet')
df12 = pd.read_parquet('../parquet/taxi_data_december.parquet')
df7 = pd.read_parquet('../parquet/taxi_data_july.parquet')
df8 = pd.read_parquet('../parquet/taxi_data_august.parquet')
df9 = pd.read_parquet('../parquet/taxi_data_september.parquet')
df1 = pd.read_parquet('../parquet/taxi_data_january.parquet')
df2 = pd.read_parquet('../parquet/taxi_data_february.parquet')
df3 = pd.read_parquet('../parquet/taxi_data_mars.parquet')
df4 = pd.read_parquet('../parquet/taxi_data_april.parquet')
df5 = pd.read_parquet('../parquet/taxi_data_may.parquet')
df6 = pd.read_parquet('../parquet/taxi_data_june.parquet')
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

In [18]:
# gettuing some statistics
#df.describe()

In [15]:
# sampling the data
new_df = df.sample(frac=0.05, replace = False, random_state=1)

In [ ]:
# getting some statistics from the sample
# new_df.describe()

In [39]:
# getting the taxi zone data to merge with the sample to get locations
zones = pd.read_csv('../parquet/taxi_zones.csv')
zones.columns

Index(['PULocationID', 'Borough', 'Zone'], dtype='object')

In [40]:
# merging with the taxi zone data to get locations
nyc_taxi_data_yearly = pd.merge(new_df , zones, how='left',on='PULocationID')

In [41]:
# getting
do_zones = pd.read_csv('../parquet/taxi_zone_do.csv')

In [42]:
nyc_taxi_data_yearly = pd.merge(nyc_taxi_data_yearly ,do_zones, how='left',on='DOLocationID')

In [43]:
nyc_taxi_data_yearly.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,Borough,Zone,do_Borough,do_ Zone
0,2,2024-07-27 22:08:04,2024-07-27 22:23:46,2.0,2.72,1.0,N,161,114,2,...,0.00,0.00,1.0,21.30,2.5,0.0,Manhattan,Midtown Center,Manhattan,Greenwich Village South
1,2,2024-05-14 14:08:19,2024-05-14 14:14:12,1.0,0.46,1.0,N,239,142,2,...,0.00,0.00,1.0,11.20,2.5,0.0,Manhattan,Upper West Side South,Manhattan,Lincoln Square East
2,2,2024-08-10 14:42:23,2024-08-10 14:53:54,1.0,1.30,1.0,N,161,186,1,...,3.08,0.00,1.0,18.48,2.5,0.0,Manhattan,Midtown Center,Manhattan,Penn Station/Madison Sq West
3,2,2024-04-17 10:22:55,2024-04-17 10:49:11,1.0,1.41,1.0,N,186,162,1,...,5.04,0.00,1.0,30.24,2.5,0.0,Manhattan,Penn Station/Madison Sq West,Manhattan,Midtown East
4,1,2024-02-14 09:04:38,2024-02-14 09:49:12,NaN,0.00,NaN,None,7,261,0,...,0.00,6.94,1.0,63.99,NaN,NaN,Queens,Astoria,Manhattan,World Trade Center

In [63]:
new_lat_lang_pu = pd.read_csv('./data/nwe_taxi_zone_lat_lang.csv')

In [64]:
nyc_taxi_data_yearly = pd.merge(nyc_taxi_data_yearly ,new_lat_lang_pu, how='left',on='PULocationID')

In [72]:
new_lat_lang_do= pd.read_csv('./data/nwe_taxi_zone_lat_lang1.csv')
new_lat_lang_do.columns

Index(['DOLocationID', 'do_Borough ', 'do_ Zone', 'do_latitude',
       'do_longitude'],
      dtype='object')

In [73]:
new_lat_lang_do.drop(columns = ['do_Borough ', 'do_ Zone'], inplace = True)

In [74]:
new_lat_lang_do.head()

   DOLocationID  do_latitude  do_longitude
0             1          NaN           NaN
1             2    40.603994    -73.835412
2             3          NaN           NaN
3             4    40.725102    -73.979583
4             5    40.563700    -74.191603

In [75]:
nyc_taxi_data_yearly = pd.merge(nyc_taxi_data_yearly ,new_lat_lang_do, how='left',on='DOLocationID')

In [76]:
nyc_taxi_data_yearly.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,Airport_fee,Borough,Zone,do_Borough,do_ Zone,latitude,longitude,do_latitude,do_longitude
0,2,2024-07-27 22:08:04,2024-07-27 22:23:46,2.0,2.72,1.0,N,161,114,2,...,2.5,0.0,Manhattan,Midtown Center,Manhattan,Greenwich Village South,40.765064,-73.985319,40.733584,-74.002817
1,2,2024-05-14 14:08:19,2024-05-14 14:14:12,1.0,0.46,1.0,N,239,142,2,...,2.5,0.0,Manhattan,Upper West Side South,Manhattan,Lincoln Square East,NaN,NaN,NaN,NaN
2,2,2024-08-10 14:42:23,2024-08-10 14:53:54,1.0,1.30,1.0,N,161,186,1,...,2.5,0.0,Manhattan,Midtown Center,Manhattan,Penn Station/Madison Sq West,40.765064,-73.985319,NaN,NaN
3,2,2024-04-17 10:22:55,2024-04-17 10:49:11,1.0,1.41,1.0,N,186,162,1,...,2.5,0.0,Manhattan,Penn Station/Madison Sq West,Manhattan,Midtown East,NaN,NaN,40.759822,-73.972471
4,1,2024-02-14 09:04:38,2024-02-14 09:49:12,NaN,0.00,NaN,None,7,261,0,...,NaN,NaN,Queens,Astoria,Manhattan,World Trade Center,40.772014,-73.930267,40.711900,-74.012527

In [77]:
nyc_taxi_data_yearly.insert(2, 'pu_date', '')
nyc_taxi_data_yearly.insert(3, 'pu_time', '')
nyc_taxi_data_yearly.insert(5, 'do_date', '')
nyc_taxi_data_yearly.insert(6, 'do_time', '')

In [98]:
type(nyc_taxi_data_yearly['pu_time'][0])

datetime.time

In [79]:
nyc_taxi_data_yearly.rename(columns={ 'Burough': 'borough', 'do_Borough ':'do_borough', 'Zone':'zone', 'do_ Zone':'do_zone'}, inplace=True)

In [80]:
nyc_taxi_data_yearly['pu_time'] = nyc_taxi_data_yearly.tpep_pickup_datetime.dt.time
nyc_taxi_data_yearly['do_time'] = nyc_taxi_data_yearly.tpep_dropoff_datetime.dt.time

In [ ]:
nyc_taxi_data_yearly.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2058486 entries, 0 to 2058485
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   pu_date                object
 2   pu_time                object
 3   do_date                object
 4   do_time                object
 5   passenger_count        float64
 6   trip_distance          float64
 7   RatecodeID             float64
 8   store_and_fwd_flag     object
 9   PULocationID           int32
 10  DOLocationID           int32
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
 19  congestion_surcharge   float64
 20  Airport_fee            float64
 21  Borough                object
 22  zone                   object
 23  do_borough             object
 24  do_zone                object
 25  latitude               float64
 26  longitude              float64
 27  do_latitude            float64
 28  do_longitude           float64
dtypes: float64(16), int32(3), int64(1), object(9)
memory usage: 431.9+ MB

In [82]:
nyc_taxi_data_yearly['pu_date'] = nyc_taxi_data_yearly.tpep_pickup_datetime.dt.date
nyc_taxi_data_yearly['do_date'] = nyc_taxi_data_yearly.tpep_dropoff_datetime.dt.date

In [84]:
nyc_taxi_data_yearly.drop(columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace = True)

In [104]:
nyc_taxi_data_yearly.to_csv('./data/nyc_taxi_data_yearly.csv', index=False)

In [103]:
nyc_taxi_data_yearly['pu_time'].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values