In [2]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [3]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [4]:
# Now building the URL with the values from the .env file

url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

# without specifying the schema default connection is to the schema `public`
# url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

In [5]:
engine = create_engine(url, echo=False) # if we do echo = True, this is good for documentations for our company or team! 
#it explains every steps!
engine

Engine(postgresql://poonehnezam:***@data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/lavender_notebooks)

In [6]:

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {pg_schema};'))

In [7]:
with engine.begin() as conn: # Done with echo=False
    result = conn.execute(text(f'''
                               SELECT * FROM nyc_taxi_weather_data; 
                                '''))
    data = result.all()

### Let's create a dataframe out of that
nyc_taxi_weather_data = pd.DataFrame(data)#, columns=['...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...', '...','...']) 
nyc_taxi_weather_data

,VendorID,pu_date,do_date,do_time,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,temp,dwpt,rhum,prcp,wdir,wspd,pres,coco,hour,date
0,2,2024-07-27,2024-07-27,1900-01-01 22:23:46,2.0,2.72,1.0,N,161,114,...,25.0,15.0,54.0,0.0,0.0,0.0,1020.0,2.0,22.0,2024-07-27
1,2,2024-05-14,2024-05-14,1900-01-01 14:14:12,1.0,0.46,1.0,N,239,142,...,22.8,13.8,57.0,0.0,170.0,7.6,1015.1,4.0,14.0,2024-05-14
2,2,2024-08-10,2024-08-10,1900-01-01 14:53:54,1.0,1.30,1.0,N,161,186,...,31.7,16.1,39.0,0.0,290.0,25.9,1012.8,2.0,14.0,2024-08-10
3,2,2024-04-17,2024-04-17,1900-01-01 10:49:11,1.0,1.41,1.0,N,186,162,...,15.6,4.9,49.0,0.0,60.0,13.0,1021.3,3.0,10.0,2024-04-17
4,1,2024-02-14,2024-02-14,1900-01-01 09:49:12,NaN,0.00,NaN,None,7,261,...,0.0,-11.7,41.0,0.0,300.0,38.9,1017.5,2.0,9.0,2024-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058970,1,2024-01-14,2024-01-14,1900-01-01 21:32:51,1.0,2.00,1.0,N,238,262,...,-1.7,-16.3,32.0,0.0,280.0,20.5,1020.6,2.0,21.0,2024-01-14
2058971,2,2024-08-27,2024-08-27,1900-01-01 20:22:02,1.0,1.13,1.0,N,107,170,...,26.7,18.3,60.0,0.0,160.0,7.6,1017.0,3.0,20.0,2024-08-27
2058972,2,2024-11-04,2024-11-04,1900-01-01 18:09:53,2.0,0.03,1.0,N,229,229,...,12.2,8.3,77.0,0.0,162.0,7.6,1028.0,3.0,18.0,2024-11-04
2058973,2,2024-08-07,2024-08-07,1900-01-01 20:58:31,1.0,1.13,1.0,N,142,48,...,20.0,17.2,84.0,0.0,60.0,16.6,1016.8,4.0,20.0,2024-08-07
2058974,2,2024-05-18,2024-05-18,1900-01-01 13:10:40,2.0,1.08,1.0,N,237,163,...,21.1,11.1,53.0,0.0,30.0,9.4,1014.5,7.0,13.0,2024-05-18

In [8]:
nyc_taxi_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2058975 entries, 0 to 2058974
Data columns (total 41 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   pu_date                datetime64[ns]
 2   do_date                datetime64[ns]
 3   do_time                datetime64[ns]
 4   passenger_count        float64
 5   trip_distance          float64
 6   RatecodeID             float64
 7   store_and_fwd_flag     object
 8   PULocationID           int64
 9   DOLocationID           int64
 10  payment_type           int64
 11  fare_amount            float64
 12  extra                  float64
 13  mta_tax                float64
 14  tip_amount             float64
 15  tolls_amount           float64
 16  improvement_surcharge  float64
 17  total_amount           float64
 18  congestion_surcharge   float64
 19  Airport_fee            float64
 20  pu_hour                int64
 21  zone                   object
 22  Borough                object
 23  latitude               float64
 24  longitude              float64
 25  do_zone                object
 26  do_bourough            object
 27  do_latitude            float64
 28  do_longitude           float64
 29  pickup_time            datetime64[ns]
 30  time                   datetime64[ns, UTC]
 31  temp                   float64
 32  dwpt                   float64
 33  rhum                   float64
 34  prcp                   float64
 35  wdir                   float64
 36  wspd                   float64
 37  pres                   float64
 38  coco                   float64
 39  hour                   float64
 40  date                   datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](5), float64(25), int64(5), object(5)
memory usage: 644.1+ MB

In [9]:
nyc_taxi_weather_data.dtypes #we can see needs little change in data type! dive deeper :

VendorID                               int64
pu_date                       datetime64[ns]
do_date                       datetime64[ns]
do_time                       datetime64[ns]
passenger_count                      float64
trip_distance                        float64
RatecodeID                           float64
store_and_fwd_flag                    object
PULocationID                           int64
DOLocationID                           int64
payment_type                           int64
fare_amount                          float64
extra                                float64
mta_tax                              float64
tip_amount                           float64
tolls_amount                         float64
improvement_surcharge                float64
total_amount                         float64
congestion_surcharge                 float64
Airport_fee                          float64
pu_hour                                int64
zone                                  object
Borough                               object
latitude                             float64
longitude                            float64
do_zone                               object
do_bourough                           object
do_latitude                          float64
do_longitude                         float64
pickup_time                   datetime64[ns]
time                     datetime64[ns, UTC]
temp                                 float64
dwpt                                 float64
rhum                                 float64
prcp                                 float64
wdir                                 float64
wspd                                 float64
pres                                 float64
coco                                 float64
hour                                 float64
date                          datetime64[ns]
dtype: object

In [10]:
nyc_taxi_weather_data.columns

Index(['VendorID', 'pu_date', 'do_date', 'do_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'Airport_fee', 'pu_hour', 'zone', 'Borough',
       'latitude', 'longitude', 'do_zone', 'do_bourough', 'do_latitude',
       'do_longitude', 'pickup_time', 'time', 'temp', 'dwpt', 'rhum', 'prcp',
       'wdir', 'wspd', 'pres', 'coco', 'hour', 'date'],
      dtype='object')

In [11]:
nyc_taxi_weather_data[['VendorID', 'pu_date', 'do_date', 'do_time', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID']].dtypes ## should change the types of these columns:  passenger_count (float to int) ,
#RatecodeID ( change type and also there are 204262 NULL value! why?! )

VendorID                       int64
pu_date               datetime64[ns]
do_date               datetime64[ns]
do_time               datetime64[ns]
passenger_count              float64
trip_distance                float64
RatecodeID                   float64
store_and_fwd_flag            object
PULocationID                   int64
DOLocationID                   int64
dtype: object

In [17]:
nyc_taxi_weather_data['passenger_count'] = nyc_taxi_weather_data['passenger_count'].astype('Int64')  # Capital "I" for nullable int


nyc_taxi_weather_data['passenger_count'].dtypes

Int64Dtype()

In [19]:
nyc_taxi_weather_data['RatecodeID'] = nyc_taxi_weather_data['RatecodeID'].astype('Int64')
nyc_taxi_weather_data['RatecodeID'].dtypes

Int64Dtype()

In [20]:
nyc_taxi_weather_data[['payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'Airport_fee']].dtypes ## every types are fit here ## there isn't any null values in 'payment_type'

payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
Airport_fee              float64
dtype: object

In [21]:
nyc_taxi_weather_data[['pu_hour', 'zone', 'Borough',
       'latitude', 'longitude', 'do_zone', 'do_bourough', 'do_latitude',
       'do_longitude', 'pickup_time']].dtypes ### perfect data type

pu_hour                  int64
zone                    object
Borough                 object
latitude               float64
longitude              float64
do_zone                 object
do_bourough             object
do_latitude            float64
do_longitude           float64
pickup_time     datetime64[ns]
dtype: object

In [22]:
nyc_taxi_weather_data[[ 'time', 'temp', 'dwpt', 'rhum', 'prcp',
       'wdir', 'wspd', 'pres', 'coco', 'hour', 'date']].dtypes ### perfect data type also!

time    datetime64[ns, UTC]
temp                float64
dwpt                float64
rhum                float64
prcp                float64
wdir                float64
wspd                float64
pres                float64
coco                float64
hour                float64
date         datetime64[ns]
dtype: object